{% extends "./base.html" %}
{% block title %} Publishers List {% endblock %}
{% block content %}
<table style="margin: 20px 5px ; width: 100%;border: 1px solid;border-collapse: collapse;">
    <caption>Publishers list</caption>
    <tr style="text-align: center ;">
        <th>Publisher name</th>
    </tr>
    {% for publisher in object_list %}
    <tr style="text-align: center ;">
        <td style="border: 1px solid;"><a href="{% url 'books:pub_details' publisher.id %}">{{ publisher.name }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}